### Bonus Question
---
    Join all the things

In [1]:
SELECT
  s.customer_id,
  s.order_date,
  mn.product_name,
  mn.price,
  CASE
    WHEN s.order_date >= mb.join_date THEN 'Y'
    ELSE 'N'
  END as member
FROM
  sales s
LEFT JOIN members mb on mb.customer_id = s.customer_id
JOIN menu mn on mn.product_id = s.product_id

customer_id,order_date,product_name,price,member
A,2021-01-01,sushi,10,N
A,2021-01-01,curry,15,N
A,2021-01-07,curry,15,Y
A,2021-01-10,ramen,12,Y
A,2021-01-11,ramen,12,Y
A,2021-01-11,ramen,12,Y
B,2021-01-01,curry,15,N
B,2021-01-02,curry,15,N
B,2021-01-04,sushi,10,N
B,2021-01-11,sushi,10,Y
B,2021-01-16,ramen,12,Y
B,2021-02-01,ramen,12,Y
C,2021-01-01,ramen,12,N
C,2021-01-01,ramen,12,N
C,2021-01-07,ramen,12,N

    Rank all the things

In [2]:
WITH tbl as(
  SELECT
    s.customer_id,
    s.order_date,
    mb.join_date,
    mn.product_name,
    mn.price,
    CASE
      WHEN s.order_date >= mb.join_date THEN 'Y'
      ELSE 'N'
    END as member
  FROM
    sales s
  LEFT JOIN members mb on mb.customer_id = s.customer_id
  JOIN menu mn on mn.product_id = s.product_id
)
SELECT
  *,
  CASE
    WHEN order_date >= join_date THEN RANK() OVER(PARTITION BY customer_id, member ORDER BY order_date ASC)
    ELSE null
  END as rank
FROM tbl

customer_id,order_date,join_date,product_name,price,member,rank
A,2021-01-01,2021-01-07,sushi,10,N,NULL
A,2021-01-01,2021-01-07,curry,15,N,NULL
A,2021-01-07,2021-01-07,curry,15,Y,1
A,2021-01-10,2021-01-07,ramen,12,Y,2
A,2021-01-11,2021-01-07,ramen,12,Y,3
A,2021-01-11,2021-01-07,ramen,12,Y,3
B,2021-01-01,2021-01-09,curry,15,N,NULL
B,2021-01-02,2021-01-09,curry,15,N,NULL
B,2021-01-04,2021-01-09,sushi,10,N,NULL
B,2021-01-11,2021-01-09,sushi,10,Y,1
B,2021-01-16,2021-01-09,ramen,12,Y,2
B,2021-02-01,2021-01-09,ramen,12,Y,3
C,2021-01-01,NULL,ramen,12,N,NULL
C,2021-01-01,NULL,ramen,12,N,NULL
C,2021-01-07,NULL,ramen,12,N,NULL