### Transaction Analysis
---
    1. How many unique transactions were there?

In [1]:
SELECT 
    COUNT(DISTINCT txn_id) as transactions
FROM sales

transactions
2500

    2. What is the average unique products purchased in each transaction?

In [2]:
SELECT
    COUNT(*)/COUNT(DISTINCT txn_id) AS avg_unique_products_each_transition
FROM sales

avg_unique_products_each_transition
6

    3. What are the 25th, 50th and 75th percentile values for the revenue per transaction?

In [3]:
WITH tbl AS(
    SELECT txn_id, SUM(qty*price) AS revenue
    FROM sales
    GROUP BY txn_id
)
SELECT DISTINCT 
    PERCENTILE_DISC(0.25) WITHIN GROUP(ORDER BY revenue) OVER() as #25th_percentile,
    PERCENTILE_DISC(0.5) WITHIN GROUP(ORDER BY revenue) OVER() as #50th_percentile,
    PERCENTILE_DISC(0.75) WITHIN GROUP(ORDER BY revenue) OVER() as #75th_percentile
FROM tbl

#25th_percentile,#50th_percentile,#75th_percentile
375,509,647

    4. What is the average discount value per transaction?

In [4]:
SELECT 
    SUM(qty * price * (cast(discount as decimal(10,2)) /100) ) / COUNT (distinct txn_id) AS average_discount 
FROM sales ;

average_discount
62.491656

    5. What is the percentage split of all transactions for members vs non-members?

In [5]:
WITH tbl AS(
    SELECT
        txn_id,
        member 
    FROM sales
    GROUP BY txn_id, member 
)
SELECT 
    100*cast(SUM(CASE WHEN member = 1 THEN 1 END) as float)/COUNT(*) AS perc_member,
    100*cast(SUM(CASE WHEN member = 0 THEN 1 END) as float)/COUNT(*) AS perc_non_member
FROM tbl

perc_member,perc_non_member
60.2,39.8

    7. What is the average revenue for member transactions and non-member transactions?

In [6]:
WITH tbl AS(
    SELECT
        txn_id,
        member,
        SUM(qty*price) AS revenue
    FROM sales
    GROUP BY txn_id, member 
)
SELECT 
    member,
    AVG(revenue) as revenue
FROM tbl
GROUP BY member

member,revenue
0,515
1,516