### 3. Before & After Analysis
---
This technique is usually used when we inspect an important event and want to inspect the impact before and after a certain point in time.

Taking the week_date value of 2020-06-15 as the baseline week where the Data Mart sustainable packaging changes came into effect.

We would include all week_date values for 2020-06-15 as the start of the period after the change and the previous week_date values would be before

    1. What is the total sales for the 4 weeks before and after 2020-06-15? What is the growth or reduction rate in actual values and percentage of sales?

In [1]:
WITH tbl AS(
    SELECT 
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15')-4 AND DATEPART(WK, '2020-06-15')-1 THEN sales ELSE 0 END) as sales_before_change,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15') AND DATEPART(WK, '2020-06-15')+3 THEN sales ELSE 0 END) as sales_after_change
    FROM clean_weekly_sales
    WHERE calendar_year = '2020'
)
SELECT 
    *,
    (sales_after_change - sales_before_change) AS sales_change,
    100 * (cast(sales_after_change as float) - sales_before_change) / sales_before_change as rate_change
FROM tbl

sales_before_change,sales_after_change,sales_change,rate_change
2345878357,2318994169,-26884188,-1.1460179902243754

    2. What about the entire 12 weeks before and after?

In [2]:
WITH tbl AS(
    SELECT 
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15')-12 AND DATEPART(WK, '2020-06-15')-1 THEN sales ELSE 0 END) as sales_before_change,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15') AND DATEPART(WK, '2020-06-15')+11 THEN sales ELSE 0 END) as sales_after_change
    FROM clean_weekly_sales
    WHERE calendar_year = '2020'
)
SELECT 
    *,
    (sales_after_change - sales_before_change) AS sales_change,
    100 * (cast(sales_after_change as float) - sales_before_change) / sales_before_change as rate_change
FROM tbl

sales_before_change,sales_after_change,sales_change,rate_change
7126273147,6973947753,-152325394,-2.1375183192932417

    3. How do the sale metrics for these 2 periods before and after compare with the previous years in 2018 and 2019?

\- How do the sale metrics for 4 weeks before and after compare with the previous years in 2018 and 2019?

In [3]:
WITH tbl AS(
    SELECT 
        calendar_year,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15')-4 AND DATEPART(WK, '2020-06-15')-1 THEN sales ELSE 0 END) as sales_before_change,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15') AND DATEPART(WK, '2020-06-15')+3 THEN sales ELSE 0 END) as sales_after_change
    FROM clean_weekly_sales
    GROUP BY calendar_year
)
SELECT 
    *,
    (sales_after_change - sales_before_change) AS sales_change,
    100 * (cast(sales_after_change as float) - sales_before_change) / sales_before_change as rate_change
FROM tbl
ORDER BY calendar_year

calendar_year,sales_before_change,sales_after_change,sales_change,rate_change
2018,2125140809,2129242914,4102105,0.1930274447051946
2019,2249989796,2252326390,2336594,0.10384909318939863
2020,2345878357,2318994169,-26884188,-1.1460179902243754

\- How do the sale metrics for 12 weeks before and after compare with the previous years in 2018 and 2019?

In [4]:
WITH tbl AS(
    SELECT 
        calendar_year,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15')-12 AND DATEPART(WK, '2020-06-15')-1 THEN sales ELSE 0 END) as sales_before_change,
        SUM(CASE WHEN DATEPART(WK, week_date) BETWEEN DATEPART(WK, '2020-06-15') AND DATEPART(WK, '2020-06-15')+11 THEN sales ELSE 0 END) as sales_after_change
    FROM clean_weekly_sales
    GROUP BY calendar_year
)
SELECT 
    *,
    (sales_after_change - sales_before_change) AS sales_change,
    100 * (cast(sales_after_change as float) - sales_before_change) / sales_before_change as rate_change
FROM tbl
ORDER BY calendar_year

calendar_year,sales_before_change,sales_after_change,sales_change,rate_change
2018,6396562317,6500818510,104256193,1.6298784852438732
2019,6883386397,6862646103,-20740294,-0.30130945444293644
2020,7126273147,6973947753,-152325394,-2.1375183192932417