### 1. Data Cleaning Steps
---
In a single query, perform the following operations and generate a new table in the data_mart schema named clean_weekly_sales:

- Convert the week_date to a DATE format

- Add a week_number as the second column for each week_date value, for example any value from the 1st of January to 7th of January will be 1, 8th to 14th will be 2 etc

- Add a month_number with the calendar month for each week_date value as the 3rd column

- Add a calendar_year column as the 4th column containing either 2018, 2019 or 2020 values

- Add a new column called age_band after the original segment column using the following mapping on the number inside the segment value

<div align="center">

|segment|age_band|
|---|---|
|1|	Young Adults|
|2|	Middle Aged|
|3 or 4|Retirees|

</div>

- Add a new demographic column using the following mapping for the first letter in the segment values:

<div align="center">

|segment|demographic|
|---|---|
|C|Couples|
|F|Families|

</div>

- Ensure all null string values with an "unknown" string value in the original segment column as well as the new age_band and demographic columns

- Generate a new avg_transaction column as the sales value divided by transactions rounded to 2 decimal places for each record

In [1]:
DROP TABLE IF EXISTS clean_weekly_sales
SELECT 
    CONVERT(date, week_date, 3) as week_date,
    DATEPART(WK, CONVERT(date, week_date, 3)) as week_number,
    DATEPART(MONTH, CONVERT(date, week_date, 3)) as month_number,
    DATEPART(YEAR, CONVERT(date, week_date, 3)) as calendar_year,
    segment,
    CASE 
        WHEN SUBSTRING(segment,2,1) = '1' THEN 'Young Adults'
        WHEN SUBSTRING(segment,2,1) = '2' THEN 'Middle Aged'
        WHEN SUBSTRING(segment,2,1) = '3' OR SUBSTRING(segment,2,1) = '4' THEN 'Retirees'
        ELSE 'unknown'
    END AS age_band,
    CASE 
        WHEN SUBSTRING(segment,1,1) = 'C' THEN 'Couples'
        WHEN SUBSTRING(segment,1,1) = 'F' THEN 'Families'
        ELSE 'unknown'
    END AS demographic,
    region,
    platform,
    customer_type,
    transactions,
    sales,
    ROUND(CAST(sales as float)/CAST(transactions as float),2) as avg_transaction
INTO clean_weekly_sales
FROM weekly_sales